name: Deploy to GitHub Pages

on:
  # 当仓库文档更新时触发
  repository_dispatch:
    types: [ md_changes ]
  # 手动触发部署
  workflow_dispatch:
  # 推送到 main 分支时触发
  push:
    branches:
      - main

# 添加权限配置
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许一个并发部署
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout MAN repository
        uses: actions/checkout@v4
        with:
          repository: duorua/narutomobile
          path: temp

      - name: Sync docs from MAN
        run: |
          # 同步根 README
          # cp temp/docs/README.md docs/README.md || true
          rsync -av --delete temp/docs/ docs/ || true

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build with Rspress
        run: pnpm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc_build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4